{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Portal{% endblock %}
{% block adminnav %}{% if session.role == "admin" %}{{ super() }}{% endif %}{% endblock%}
{% block coordinatornav %}{% if session.role == "coordinator" %}{{ super() }}{% endif %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}
{% block content %}

<div class="container" style="margin-top:30px">
  <h1>Manage tools</h1>
  <p>The helpline provides volunteers tools for volunteer work. Here you can add new tools and manage, whether tools are active and available for loan.</p>

    {% block flashed_messages %}{{ super() }}{% endblock %}
</div>

<div class="container" style="margin-top:60px">
    <form action="/add-tool" method="POST">
        <div class="form-group mb-3">
          <label for="add-training-module">Tool</label>
          <input type="text" class="form-control" id="add-training-module" name="tool" placeholder="Type in the name of tool in question, i.e. "Nokia 3310."">  
        </div>
        <div class="form-group mb-3">
          <label for="add-training-module">Serial Number</label>
          <input type="text" class="form-control" id="add-training-module" name="serialnumber" placeholder="Type in the serial number or other unique id-number for the tool.">  
        </div>
        <div align=right class="mb-3">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>
</div>

<div class="container">
  <h2>Current equipment</h2>
  <p>Below you can see equipments reserved for helpline activities. Each equipment indicates whether it"s loaned or available and whether it is in active use. Only equipment in active use can be loaned.</p>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Serial number</th>
              <th scope="col">Loaned</th>
              <th scope="col">Is active</th>
              <th scope="col">Activate/Deactivate</th>
          </tr>
      </thead>
      <tbody>
        {% for tool in tools %}

          <tr>
              <th scope="row">{{ tool.tool }}</th>
              <td>{{ tool.serialnumber }}</td>
              <td>{{ tool.loaned }}</td>
              <td>{{ tool.active }}</td>
              <td>{% if tool.active is sameas true %}<a
                      href="/tool-active/0/{{ tool.tool_id }}">Deactivate</a>{% else %}<a
                      href="/tool-active/1/{{ tool.tool_id }}">Activate</a>{% endif %}</td>
          </tr>
          {% endfor %}

          {% endblock %}
      </tbody>
  </table>

</div>
