{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Portal{% endblock %}
{% block coordinatornav %}{{ super() }}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}
{% block content %}

<div class="container">
  <h1>Manage tools</h1>
  <p>The helpline provides volunteers tools for volunteer work. Here you can add new tools and manage, whether tools are active and available for loan.</p>

    {% if show is sameas true %}
    {% if error is sameas true %}
    <div class="alert alert-danger" role="alert"><b>Error: </b> {{ message }}</div>
    {% else %}
    <div class="alert alert-success" role="alert"><b>Success: </b> {{ message }}</div>
    {% endif %}
    {% else %}
    {% endif %}
</div>

<div class="container" style="margin-top:60px">
    <form action="/add-tool" method="POST">
        <div class="form-group mb-3">
          <label for="add-training-module">Tool</label>
          <input type="text" class="form-control" id="add-training-module" name="tool" placeholder="Type in the name of tool in question, i.e. 'Nokia 3310.'">  
        </div>
        <div class="form-group mb-3">
          <label for="add-training-module">Serial Number</label>
          <input type="text" class="form-control" id="add-training-module" name="serialnumber" placeholder="Type in the serial number or other unique id-number for the tool.">  
        </div>
        <div align=right class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>
</div>

<div class="container">
  <h2>Current training modules</h2>
  <p>Below you can see submitted training modules. Volunteers can take active training modules. Modules can be deactivated and activated.</p>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Serial number</th>
              <th scope="col">Loaned</th>
              <th scope="col">Is active</th>
              <th scope="col">Activate/Deactivate</th>
          </tr>
      </thead>
      <tbody>
        {% for tool in tools %}

          <tr>
              <th scope="row">{{ tool.tool }}</th>
              <td>{{ tool.serialnumber }}</td>
              <td>{{ tool.loaned }}</td>
              <td>{{ tool.active }}</td>
              <td>{% if tool.active is sameas true %}<a
                      href="/tool-active/0/{{ tool.tool_id }}">Deactivate</a>{% else %}<a
                      href="/tool-active/1/{{ tool.tool_id }}">Activate</a>{% endif %}</td>
          </tr>
          {% endfor %}

          {% endblock %}
      </tbody>
  </table>

</div>
