{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Management App{% endblock %}
{% block adminnav %}{% if role == 'admin' %}{{ super() }}{% else %}{% endif %}{% endblock%}
{% block coordinatornav %}{% if role == 'coordinator' %}{{ super() }}{% else %}{% endif %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}

{% block content %}
<div class="flex-wrapper">
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">

                <div>
                    <h1>Add new user account</h1>
                    <p>In this view you can create new user accounts. Once a user account is created you can log in with this new account to test different functonalities in different roles.<br><br><b>Note:</b>An admin can create all roles in this demo. A coordinator can create only volunteers.</p>
                    {% if show is sameas true %}
                    <div class="alert alert-danger" role="alert"><b>Error: </b> {{ message }}</div>
                    {% else %}
                    {% endif %}
                </div>

                <form action="/add-user" method="POST">
                    <table>
                        <tr>
                            <td>Last name:</td>
                            <td><input class="form-control" id='lastname' placeholder="Enter last name" type='text'
                                    name='lastname'
                                    value='{% if show is sameas true %}{{ filled[0] }}{% else %}{% endif %}'></td>
                        </tr>
                        <tr>
                            <td>First name:</td>
                            <td><input class="form-control" id="firstname" placeholder="Enter first name" type='text'
                                    name='firstname'
                                    value='{% if show is sameas true %}{{ filled[1] }}{% else %}{% endif %}' /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input class="form-control" id="email" placeholder="Enter e-mail address" type='text'
                                    name='email'
                                    value='{% if show is sameas true %}{{ filled[2] }}{% else %}{% endif %}' /></td>
                        </tr>
                        <tr>
                            <td>Start date:</td>
                            <td><input class="form-control" id="startdate" placeholder="Enter start date" type='date'
                                    name='startdate'
                                    value='{% if show is sameas true %}{{ filled[3] }}{% else %}{% endif %}' /></td>
                        </tr>
                        <tr>
                            <td>Username: </td>
                            <td><input class="form-control" id="username" placeholder="Enter username" type='text'
                                    name='username'
                                    value='{% if show is sameas true %}{{ filled[5] }}{% else %}{% endif %}' /></td>
                        </tr>
                        <tr>
                            <td>Password: </td>
                            <td><input class="form-control" id="password1" placeholder="Enter password" type='password'
                                    name='password' /></td>
                        </tr>
                        <tr>
                            <td>Re-type password: </td>
                            <td><input class="form-control" id="password2" placeholder="Enter password" type='password'
                                    name='password2' /></td>
                        </tr>
                        <tr>
                            <td>Select role:</td>
                            <td>
                                <select class="form-select" name='role'>
                                    <option value="" selected disabled>Choose role</option>
                                    {% if role == 'admin' %}
                                    <option value="admin">Administrator</option>
                                    <option value="coordinator">Coordinator</option>
                                    {% else %}
                                    {% endif %}
                                    <option value="volunteer">Volunteer</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Qualifications: </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" name="qualification">
                                    <label class="form-check-label" for="childphone">
                                        Child helpline phone
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" name="qualification">
                                    <label class="form-check-label" for="childchat">
                                        Child helpline chat
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" name="qualification">
                                    <label class="form-check-label" for="parentphone">
                                        Parent helpline phone
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" name="qualification">
                                    <label class="form-check-label" for="parentchat">
                                        Parent helpline chat
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="submit" />
                            </td>
                        </tr>
                    </table>

                </form>
                <br>
                <form action="/view-volunteers" method='GET'><input class="btn btn-primary" id="addnew" name="cancel"
                        type="submit" value="Cancel" /></form>
                <br>
                <div class="alert alert-warning" role="alert">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}