{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Management App{% endblock %}
{% block coordinatornav %}{{ super() }}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}

{% block content %}
<div class="flex-wrapper">

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                <h1>Edit user information</h1>
                <br>
                <p>The plan is for the coordinators to be able to edit volunteer information. This page is not yet
                    finished. Later on this will have an option to change activitylevel, mark loaned tools and input
                    additional trainings. Perhaps this page will also show user activity? </p>

                <form action="/update-user/{{ user.user_id }}" method="POST">
                    <table>
                        <tr>
                            <td>Last name:</td>
                            <td><input class="form-control" id='lastname' type='text' name='lastname'
                                    value="{{ user.lastname }}"></td>
                        </tr>
                        <tr>
                            <td>First name:</td>
                            <td><input class="form-control" id="firstname" type='text' name='firstname'
                                    value='{{ user.firstname }}' /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input class="form-control" id="email" type='text' name='email'
                                    value='{{ user.email }}' /></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td><input class="form-control" id="phone" type='text' name='phone'
                                    value='{{ user.phone }}' /></td>
                        </tr>
                        <tr>
                            <td>Start date:</td>
                            <td><input class="form-control" id="startdate" value='{{ user.startdate }}' type='date'
                                    name='startdate' /></td>
                        </tr>
                        <tr>
                            <td>Username: </td>
                            <td><input class="form-control" id="username" value='{{ user.username }}' type='text'
                                    name='username' /></td>
                        </tr>
                        <tr>
                            <td>Select role:</td>
                            <td>
                                <select class="form-control form-control-sm" name='role'>
                                    <option value="{{ user.role }}">{{ user.role }}</option>
                                    <option value="admin">Administrator</option>
                                    <option value="coordinator">Coordinator</option>
                                    <option value="volunteer">Volunteer</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Qualifications: </td>
                            <td>
                                {% for qualification in qualifications %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" 
                                        name="qualification" {% if qualification.isqualified is sameas true %} 
                                        checked disabled value=""
                                        {% else %} value="{{ qualification.task_id }}" {% endif %}>
                                    <label class="form-check-label" for="{{ qualification.task }}">
                                        {{ qualification.task }}
                                    </label>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="true" name="terminate">
                                <label class="form-check-label" for="terminate">Terminate account</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right"><input class="btn btn-primary" id="submit" name="submit"
                                    type="submit" value="submit" /></td>
                        </tr>
                    </table>
                </form>
                <form action="/view-user/{{ user.user_id }}" method='GET'><input class="btn btn-primary" id="addnew"
                        name="logout" type="submit" value="Cancel" /></form>
                <div class="alert alert-warning" role="alert">
                    <b>To-Do: </b>
                    <ul>
                        <li>Add update change activity (or maybe in 'view-user.html' view?) </li>
                        <li>Add additional training (or maybe in 'view-user.html' view)? </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}