{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Management App{% endblock %}
{% block adminnav %}{% if session.role == "admin" %}{{ super() }}{% endif %}{% endblock%}
{% block coordinatornav %}{% if session.role == "coordinator" %}{{ super() }}{% endif %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}

{% block content %}
<div class="flex-wrapper">

    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                <h1>Edit user information</h1>
                {% block flashed_messages %}{{ super() }}{% endblock %}
                <br>
                <p>Coordinators and admins can edit user information on selected volunteers.</p>

                <form action="/update-user/{{ user.user_id }}" method="POST">
                    <table class="table">
                        <tr>
                            <td>Last name:<span class="text-danger">*</span></td>
                            <td><input class="form-control" id="lastname" type="text" name="lastname"
                                    value="{{ user.lastname }}" required /></td>
                        </tr>
                        <tr>
                            <td>First name:<span class="text-danger">*</span></td>
                            <td><input class="form-control" id="firstname" type="text" name="firstname"
                                    value="{{ user.firstname }}" required /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input class="form-control" id="email" type="text" name="email"
                                    value="{{ user.email }}" /></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td><input class="form-control" id="phone" type="text" name="phone"
                                    value="{{ user.phone }}" /></td>
                        </tr>
                        <tr>
                            <td>Start date:<span class="text-danger">*</span></td>
                            <td><input class="form-control" id="startdate" value="{{ user.startdate }}" type="date"
                                    name="startdate" required /></td>
                        </tr>
                        <tr>
                            <td>Username:<span class="text-danger">*</span></td>
                            <td><input class="form-control" id="username" value="{{ user.username }}" type="text"
                                    name="username" minlength="3" required /></td>
                        </tr>
                        {% if user.role == "volunteer" %}
                        <tr>
                            <td>
                                Set activity:
                            </td>
                            <td>
                                <select class="form-select form-control-sm" name="activity">
                                    <option value="{{ activity.a_id }}">{{ activity.level }}</option>
                                    {% if activity.level != 'two' %}<option value="3">two</option>{% endif %}
                                    {% if activity.level != 'one' %}<option value="2">one</option>{% endif %}
                                    {% if activity.level != 'break' %}<option value="1">break</option>{% endif %}
                                </select>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Select role:</td>
                            <td>
                                <select class="form-select form-control-sm" name="role">
                                    <option value="{{ user.role }}">{{ user.role }}</option>
                                    <option value="admin">Administrator</option>
                                    <option value="coordinator">Coordinator</option>
                                    <option value="volunteer">Volunteer</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Qualifications: </td>
                            <td>
                                {% for qualification in qualifications %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" 
                                        name="qualification" {% if qualification.isqualified is sameas true %} 
                                        checked disabled value=""
                                        {% else %} value="{{ qualification.task_id }}" {% endif %}>
                                    <label class="form-check-label" for="{{ qualification.task }}">
                                        {{ qualification.task }}
                                    </label>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="mb-3">
                            <td>Deactivate user account<br>
                                <small class="text-muted"><b>Warning! </b>In this demo a deactivated account can not be restored.</small>

                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="true" name="terminate">
                                <label class="form-check-label" for="terminate">Deactivate account</label>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="/view-user/{{ user.user_id }}" method="GET" class="btn btn-primary">Cancel</a></td>
                            <td class="text-end">
                                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="submit" />
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}