{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Portal{% endblock %}
{% block adminnav %}{% endblock %}
{% block coordinatornav %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Project Info
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/docs/aboutus">About Us</a>
        <a class="dropdown-item" href="/docs/feedback">Leave Feedback</a>
        <a class="dropdown-item" href="https://github.com/heidi-holappa/volunteer-management-application"
            target="_blank">Project at GitHub</a>
    </div>
</li>

{% endblock %}
{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            {% block flashed_messages %}{{ super() }}{% endblock %}
            <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to the Volunteer Management App!</h1>
            <p class="col-lg-10 fs-5">This application is a school project that demonstrates the functionalities of a
                HR-type application tailored for managing a volunteer activity. Start by creating an admin account to
                test out the product.
                <br><br>
                <small class="text-muted"><b>Please note:</b> For demonstration purposes this application simulates
                    handling of personal data.
                    Please do not submit any real personal information into this application or use passwords that you
                    use
                    in other services when testing the application. The quality of data security is still on
                    apprentice-level.</small>
            </p>

        </div>
        <div class="col-md-10 mx-auto col-lg-5 mb-3">
            <div class="p-4 p-md-5 border rounded-3 bg-light">
                <h5 class="fw-bold lh-1 fs-4 mb-3">Already have an account?</h5>
                <p class="col-lg-10 fs-5">Click here to sign in into the service</p>
                <a href="/login" class="w-100 btn btn-lg btn-primary">Login</a>
                <hr class="my-4">
                <h5 class="fw-bold lh-1 fs-4 mb-3">New user?</h5>
                <p class="col-lg-10 fs-5">Click here to create a new admin account to test the demo.</p>
                <a href="/register" class="w-100 btn btn-lg btn-primary">Create an account</a>

            </div>

        </div>
    </div>
</div>

{% endblock %}