
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Volunteer Management App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            th, td {
              padding: 4px;
            }
        </style>
    </head>
    <body>
        <header class="infinitehead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">Volunteer Management Application</h1>
                        <p class="lead">Inspirational slogan here.</p>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="flex-wrapper">
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Please submit your username and password</h2>
                        <br />
                        <div>
                            {% if show is sameas true %}
                            <div class="alert alert-danger" role="alert"><b>Error: </b> {{ message }}</div>
                            {% else %}
                            {% endif %}
                        </div>



                        <form action="/auth/login" method='POST'>

                            <table>
                                <tr>
                                    <td>Please enter your username:</td>
                                    <td><input  class="form-control" id='username' placeholder="Enter username" type='text' name='username' value=''></td>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                    <td><input class="form-control" id="password" placeholder="Enter password" type='password' name='password' /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align ="right"><input class="btn btn-primary" id="submit" name="submit" type="submit" value="submit" /></td>
                                </tr>
                            </table>

                        </form>
                        <br />
                        <p>
                            Don't have an account? Create one <a href="/register">here</a>.
                            <br>
                            <br>
                            <b>Note: </b> In this test-version you can create an admin account to test the application by clicking the link above.
                        </p>

                    </div>
                </div>
            </div>

            <div class="jumbotron text-center" style="margin-bottom:0">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4>Site information</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><a href="/docs/project">Project documentation</a></p>
                            </div>
                            <div class="col">
                                <p><a href="/docs/feedback">Feedback</a></p>
                            </div>
                             <div class="col">
                                <p><a href="/docs/aboutus">About Us</a></p>
                            </div> 
                        </div>
                    </div>
                    
                </footer>
            </div>
        </div>

    </body>
</html>