{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Management App{% endblock %}

{% block adminnav %}{% if session.role == "admin" %}{{ super() }}{% endif %}{% endblock%}
{% block coordinatornav %}{% if session.role == "coordinator" %}{{ super() }}{% endif %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-8">
            <h1>Volunteer activity</h1>
            <p>On this page you can read submissions from volunteers and reply those submissions. Volunteers can then
                see your replies. You can search for volunteer message content with strings. Search is not case
                sensitive.
                You can also filter messages posted by a chosen volunteer. Volunteers can request a reply. If there are
                active requests, you see a notification.<br><br><b>Note:</b> In this demo only users with role
                'volunteer' can write volutneer-activity-reports. The idea is that volunteers carry out tasks and staff
                can comment to the tasks performed.</p>

            {% if rply_requests is sameas true and active_query is sameas false %}
            <div class="alert alert-warning">
                <div class="mb-3">
                    {% if request_filter is sameas true %}
                    You are now viewing the messages that include a reply request. Press cancel to view all messages.
                    {% else %}
                    <b>Action needed: </b> One or more volunteers have requested a reply to their reported activity. You
                    can find reply requests by browsing messages or by using this filter.
                    {% endif %}
                </div>
                <div class="form-group mb-3 text-start">
                    <form action="/view-activities/0" method="POST">
                        <div class="form-group mb-3">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="hidden" name="request-filter-on" value="request-filter-on">
                            {% if request_filter is not sameas true %}
                            <input class="btn btn-primary" id="filter-requests" name="filter-requests" type="submit"
                                value="See reply requests" />
                            {% endif %}
                            {% if request_filter is sameas true %}
                            <a href="/view-activities/0" class="btn btn-primary">Cancel</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            {% block flashed_messages %}{{ super() }}{% endblock %}


            <h2>View messages: </h2>

            {% if request_filter != true %}
            <div class="mb-3">
                You can search message content by keywords.
            </div>
            {% if active_query is sameas False %}
            <form action="/view-activities/0" method="GET">
                <div class="form-group mb-3">
                    <input class="form-control" autocomplete="off" type="text" name="query"
                        placeholder="Search by content">
                </div>
                <div class="form-group mb-3 text-end">
                    <input class="btn btn-primary" type="submit" value="Search">
                    <input type="hidden" name="sender" value="{{ show }}">
                </div>
            </form>
            {% else %}
            <form action="/view-activities/0" method="GET">
                <input class="btn btn-primary" id="addnew" name="logout" type="submit" value="End search" />
                <input type="hidden" name="sender" value="{{ show }}">
            </form>
            {% endif %}

            <div class="mb-3">
                {% if query != "" %}
                <b>Current search:</b> {{ query }}
                {% endif %}
            </div>

            {% endif %}

            {% if nomessages is sameas false %}


            {% if request_filter != true %}
            {% if query == "" %}
            <div class="mb-3">
                You can filter shown messages by volunteer.
            </div>
            <div>
                <form action="/view-activities/0" method="POST">
                    <div class="form-group mb-3">
                        <label for="sender">Filter by volunteer:</label>
                        <select class="form-select form-control-sm" name="sender" id="sender">
                            <option value="showall" selected>{% if show == "showall" %}Show
                                all{% else %}{{ show_msg }}{% endif %}</option>
                            {% for user in users %}
                            <option value="{{ user.user_id }}">{{ user.firstname }} {{ user.lastname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-3 text-end">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input class="btn btn-primary" id="filter" name="filter" type="submit" value="Filter" />
                        {% if show != "showall" %}<a href="/view-activities/0"
                            class="btn btn-primary">Cancel</a>{% endif %}
                    </div>
                </form>
            </div>
            {% endif %}
            {% endif %}



            <div class="row">
                <div class="col-sm-4 text-start">
                    {% if show_previous is sameas true %}
                    <form action="/view-activities/{{ offset - 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input type="hidden" name="sender" value="{{ show }}">
                        <input class="btn btn-link" id="previous" name="previous" type="submit" value="Previous" />
                    </form>
                    {% endif %}
                </div>
                <div class="col-sm-4 text-center">
                    Activities: {{ msg_count }}
                </div>
                <div class="col-sm-4 text-end">
                    {% if show_next is sameas true %}
                    <form action="/view-activities/{{ offset + 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input type="hidden" name="sender" value="{{ show }}">
                        <input class="btn btn-link" id="next" name="next" type="submit" value="Next" />
                    </form>
                    {% endif %}
                </div>
            </div>

            {% for message in messages %}

            {% if message.thread_id == message.msg_id %}


            <div class="alert alert-primary mb-3">
                <b>{{ message.title }} </b><br><br>
                <b>Sent by: </b> {{ message.firstname }} {{ message.lastname }} <br>
                <b>Task: </b> {{ message.task }} <br>
                <b>Date of activity: </b> {{ message.activity_date.strftime("%d.%m.%Y") }} <br>
                {% if message.reply_request is sameas true %}
                <span class="text-danger">{{ message.firstname}} has requested a reply</span><br>
                {% endif %}
                <b>Message sent: </b> {{ message.send_date.strftime("%d.%m.%Y %H:%M:%S") }} <br>
                <br>
                {{ message.content }}
                <br><br>
                {% set thread_id=message.thread_id %}
                {% for message in messages %}
                {% if message.thread_id == thread_id and message.thread_id != message.msg_id %}
                <div class="alert alert-dark">
                    <b>Reply by: </b> {{ message.username }} <br>
                    <b>Sent: </b> {{ message.send_date.strftime("%d.%m.%Y %H:%M:%S") }} <br>
                    <br>
                    {{ message.content }}
                </div>
                {% endif %}
                {% endfor %}
                <br>
                <a href="../reply-msg/{{ message.msg_id }}" class="btn btn-primary">Write a reply to
                    {{ message.firstname }}</a>
                <div class="text-end">#{{ message.thread_id }}</div>
            </div>
            {% endif %}
            {% endfor %}





            {% else %}
            <p>There are no messages.</p>
            {% endif %}
            <div class="row">
                <div class="col-sm-6 text-start">
                    {% if show_previous is sameas true %}
                    <form action="/view-activities/{{ offset - 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input class="btn btn-link" id="previous" name="previous" type="submit" value="Previous" />
                    </form>
                    {% else %}
                    {% endif %}
                </div>
                <div class="col-sm-6 text-end">
                    {% if show_next is sameas true %}
                    <form action="/view-activities/{{ offset + 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input class="btn btn-link" id="previous" name="next" type="submit" value="Next" />
                    </form>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}}