{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block headername %}Volunteer Management App{% endblock %}

{% block adminnav %}{% if session.role == "admin" %}{{ super() }}{% endif %}{% endblock%}
{% block coordinatornav %}{% if session.role == "coordinator" %}{{ super() }}{% endif %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-8">
            <h1>Volunteer activity</h1>
            <p>On this page you can read submissions from volunteers and reply those submissions. Volunteers can then
                see your replies. You can search for volunteer messages with strings. Search is not case sensitive. Please note
                that the search provides only messages by volunteers, not replies to them.</p>

            {% if rply_requests is sameas true %}
            <div class="alert alert-warning">
                <div class="mb-3">
                    {% if request_filter is sameas true %}
                    You are now viewing the messages that include a reply request. Press cancel to view all messages. 
                    {% else %}
                    <b>Action needed: </b> One or more volunteers have requested a reply to their reported activity. You can find reply requests by browsing messages or by using this filter.
                    {% endif %}
                </div>
                <div class="form-group mb-3 text-start">
                    <form action="/view-activities/0" method="POST">
                        <div class="form-group mb-3">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="hidden" name="request-filter-on" value="request-filter-on">
                            <input class="btn btn-primary" id="filter-requests" name="filter-requests" type="submit" value="Filter"/>
                            {% if request_filter is sameas true %}<a href="/view-activities/0" class="btn btn-primary">Cancel</a>{% endif %}
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}

            {% block flashed_messages %}{{ super() }}{% endblock %}


            <h2>Submissions: </h2>
            
            {% if request_filter != true %}

                {% if active_query is sameas False %}
                <form action="/view-activities/0" method="GET">
                    <table class="table">
                        <tr>
                            <td><input class="form-control" autocomplete="off" type="text" name="query"
                                    placeholder="Search by content">
                            </td>
                            <td>
                                <input class="btn btn-primary" type="submit" value="Submit">
                                <input type="hidden" name="sender" value="{{ show }}">
                            </td>
                        </tr>
                    </table>
                </form>
                {% else %}
                <form action="/view-activities/0" method="GET">
                    <input class="btn btn-primary" id="addnew" name="logout" type="submit" value="End search" />
                    <input type="hidden" name="sender" value="{{ show }}">
                </form>
                {% endif %}

                <div>
                    {% if query != "" %}
                    <b>Current search:</b> {{ query }}
                    {% endif %}
                </div>

            {% endif %}

            {% if nomessages is sameas false %}
            
            
            {% if request_filter != true %}
                {% if query == "" %}
                    <div>
                        <form action="/view-activities/0" method="POST">
                            <div class="form-group mb-3">
                                <label for="sender">Filter by volunteer:</label>
                                <select class="form-select form-control-sm" name="sender" id="sender">
                                    <option value="showall" selected>{% if show == "showall" %}Show all{% else %}{{ show_msg }}{% endif %}</option>
                                    {% for user in users %}
                                    <option value="{{ user.user_id }}">{{ user.firstname }} {{ user.lastname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3 text-end">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input class="btn btn-primary" id="filter" name="filter" type="submit" value="Filter"/>
                                {% if show != "showall" %}<a href="/view-activities/0" class="btn btn-primary">Cancel</a>{% endif %}
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endif %}

            
            
            <div class="row">
                <div class="col-sm-4 text-start">
                    {% if show_previous is sameas true %}
                    <form action="/view-activities/{{ offset - 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input type="hidden" name="sender" value="{{ show }}">
                        <input class="btn btn-link" id="previous" name="previous" type="submit" value="Previous" />
                    </form>
                    {% endif %}
                </div>
                <div class="col-sm-4 text-center">
                    Number of messages: {{ msg_count }}
                </div>
                <div class="col-sm-4 text-end">
                    {% if show_next is sameas true %}
                    <form action="/view-activities/{{ offset + 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input type="hidden" name="sender" value="{{ show }}">
                        <input class="btn btn-link" id="next" name="next" type="submit" value="Next" />
                    </form>
                    {% endif %}
                </div>
            </div>            
            
            <table class="table">
                {% for message in messages %}
                {% if message.role=="volunteer" %}
                <tr class="table-primary">
                    <td colspan="2">
                        <div>
                            <b>{{ message.title }} </b><br><br>
                            <b>Sent by: </b> {{ message.firstname }} {{ message.lastname }} <br>
                            <b>Task: </b> {{ message.task }} <br>
                            <b>Date of activity: </b> {{ message.activity_date.strftime("%d.%m.%Y") }} <br>
                            {% if message.reply_request is sameas true %}
                            <span class="text-danger">{{ message.firstname}} has requested a reply</span><br>
                            {% endif %}
                            <b>Message sent: </b> {{ message.send_date.strftime("%d.%m.%Y %H:%M:%S") }} <br>
                            <br>
                            {{ message.content }}
                            <br><br>
                            <a href="../reply-msg/{{ message.msg_id }}">Reply</a>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr class="table-secondary">
                    <td></td>
                    <td>
                        <div class="text-left">
                            <b>Reply by: </b> {{ message.username }} <br>
                            <b>Sent: </b> {{ message.send_date.strftime("%d.%m.%Y %H:%M:%S") }} <br>
                            <br>
                            {{ message.content }}
                        </div>
                    </td>
                </tr>

                {% endif %}

                {% endfor %}
            </table>
            {% else %}
            <p>There are no messages.</p>
            {% endif %}
            <div class="row">
                <div class="col-sm-6 text-start">
                    {% if show_previous is sameas true %}
                    <form action="/view-activities/{{ offset - 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input class="btn btn-link" id="previous" name="previous" type="submit" value="Previous" />
                    </form>
                    {% else %}
                    {% endif %}
                </div>
                <div class="col-sm-6 text-end">
                    {% if show_next is sameas true %}
                    <form action="/view-activities/{{ offset + 1 }}" method="GET">
                        <input type="hidden" name="query" value="{{ query }}">
                        <input class="btn btn-link" id="previous" name="next" type="submit" value="Next" />
                    </form>
                    {% else %}
                    {% endif %}
                </div>
            </div>

            <div class="alert alert-warning" role="alert">
                <b>To-Do: </b>
                <ul>
                    <li>Make messages more readable. Thread startes and replies have now different colors. What more
                        could be done? </li>
                    <li>Search needs further development. It now returns messages with hits, mixing messages from
                        different threads. User cannot know how information is related (or not). Perhaps should
                        return threads with hits. Maybe first get thread_id"s and then get threads with matches? How
                        to make results understandable to user? </li>
                </ul>
            </div>


        </div>
    </div>
</div>

{% endblock %}}