<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Volunteer Management App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style></style>
    </head>
    
    <body>
        
        <header class="infinitehead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">Volunteer Management Application</h1>
                        <p class="lead">Inspirational slogan here.</p>
                        <form action="/logout" method='GET'><input class="btn btn-primary" id="addnew" name="logout" type="submit" value="Logout"/></form>
                    </div>
                </div>
            </div>
        </header>

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-8">
                    <h1>TITLE HERE</h1>
                    <br>
                    <div>Käyttäjien määrä: {{ count }}</div>
        
                    <br>

                    <form action="/addnew" method='POST'><input class="btn btn-primary" id="addnew" name="addnew" type="submit" value="Create new user"/></form>
                    
                    <br>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User-ID</th>
                                <th>Lastname</th>
                                <th>Firstname</th>
                                <th>Email</th>
                                <th>Role</th>
                                <!-- <th>Qualifications</th> -->
                                <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.user_id }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{user.role}}</td>
                                    <!-- <td>{{ user.string_agg }}</td> -->
                                    <td><a href="view-user/{{ user.user_id }}">View details</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a href="/">Palaa takaisin</a>
                </div>
            </div>
        </div>
        
        
        <div class="jumbotron text-center" style="margin-bottom:0">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Site information</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><a href="https://github.com/heidi-holappa/volunteer-management-application/tree/main/Documentation" target="_blank">Project documentation</a></p>
                        </div>
                        <div class="col">
                            <p><a href="/docs/feedback">Feedback</a></p>
                        </div>
                         <div class="col">
                            <p><a href="/docs/aboutus">About Us</a></p>
                        </div> 
                    </div>
                </div>
                
            </footer>
        </div>
    </body>
</html>