{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block headername %}Volunteer Management App{% endblock %}


{% block adminnav %}{% if session.role == "admin" %}{{ super() }}{% endif %}{% endblock%}
{% block coordinatornav %}{% if session.role == "coordinator" %}{{ super() }}{% endif %}{% endblock%}
{% block volunteer_nav %}{% endblock%}
{% block custom_navitems%}{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px">
    <h1>User list: {% if volunteer_view is sameas true %}volunteers{% else %}coordinators{% endif %}</h1>
    {% block flashed_messages %}{{ super() }}{% endblock %}

    {% if session.role == 'admin' %}
    <div class="alert alert-info">
        <b>Welcome to the Helpline-management -demo!</b><br>Below you can view active useraccounts with role
        {% if volunteer_view is sameas true %}volunteer{% else %}coordinator{% endif %}.
        You can also view active useraccounts with the role
        {% if volunteer_view is sameas true %}coordinator{% else %}volunteer{% endif %} from the navigation bar above.
        As an admin you can create new users with different roles. You can then log in with different roles to try out
        the features of the application. From the GitHub documention's section Features you
        will find a description of what different user roles can do. You can find a link to the documention from the
        navigation menu 'Project info.'
    </div>
    {% endif %}

    {% if session.role == 'coordinator' %}
    <div class="alert alert-info">
        <b>Welcome to the coordinator experience!</b><br>As a coordinator you can view and manage volunteer accounts,
        but you can not see other coordinator accounts. You can also add tools, trainings and view reported activities.
        You can not see report data on the application as an administrator can.
    </div>
    {% endif %}
</div>
<div class="container" style="margin-top:30px">
    <h2>Search users: </h2>
    <form action="{% if volunteer_view is sameas true %}/search-volunteers{% else %}/search-coordinators{% endif %}"
        method="GET">
        <table class="table">
            <tr>
                <td><input class="form-control" autocomplete="off" type="text" name="query"
                        placeholder="Search by firstname, lastname, email address"></td>
                <td><input class="btn btn-primary" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User-ID</th>
                <th scope="col">Lastname</th>
                <th scope="col">Firstname</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Activites done</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.user_id }}</th>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{user.role}}</td>
                <td>{{ user.activitycounter }}</td>
                <td>
                    <a href="view-user/{{ user.user_id }}">View details</a> /
                    <a href="edit-user/{{ user.user_id }}">Edit details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add-user" method="GET">Create new user</a>
</div>

{% endblock %}