<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Volunteer Management App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style></style>
    </head>
    
    <body>
        
        <header class="infinitehead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">Volunteer Management Application</h1>
                        <p class="lead">Inspirational slogan here.</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="flex-wrapper">
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-8">

                        <h2>Showing user information</h2>
                        <br>
                        <form action="/edit-user/{{ user.user_id }}" method='POST'><input class="btn btn-primary" id="edit-user" name="edit-user" type="submit" value="Edit user"/></form>
                        <br>
                        <form action="/users" method='GET'><input class="btn btn-primary" id="addnew" name="logout" type="submit" value="Back to users"/></form>    

                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lastname: </td>
                                    <td>{{ user.lastname }}</td>
                                </tr>
                                <tr>
                                    <td>Firstname: </td>
                                    <td>{{ user.firstname }}</td>
                                </tr>
                                <tr>
                                    <td>Email: </td>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td>Phone: </td>
                                    <td>{{ user.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Role: </td>
                                    <td>{{ user.role }}</td>
                                </tr>
                                <tr>
                                    <td>Current activity: </td>
                                    <td>{{ currentactivity.level }}</td>
                                </tr>
                                    <tr>
                                        <td>Qualifications: </td>
                                        <td>
                                            {% for qualification in qualifications %}    
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{ qualification.task_id }}" name="qualification" {% if qualification.isqualified is sameas true %} checked {% else %} {% endif %} disabled>
                                                    <label class="form-check-label" for="{{ qualification.task }}" class="text-info">
                                                        {{ qualification.task }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Additional trainings: </td>
                                        <td>{% for training in trainings %}
                                            {{ training.training }}, {{ training.training_date }} <br>
                                        {% endfor %}
                                        <a href="#">Add training</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Loaned tools: </td>
                                        <td>{% for tool in tools %}
                                            Tool: {{ tool.tool }} <br>
                                            Serialnumber: {{ tool.serialnumber }} <br>
                                            Loaned: {{ tool.loandate }}<br>
                                            <a href="#">Return loan</a>
                                            <br><br> 
                                        {% endfor %}
                                        <a href="#">Add loaned tool</a>
                                        </td>
                                    </tr>
                                    <!-- {% for qualification in qualifications %}
                                        {% if qualification.isqualified is sameas true %}   
                                        <tr>
                                            <td></td>
                                            <td>{{ qualification.task }}</td>    
                                        </tr>
                                        {% else %}
                                        {% endif %}
                                    {% endfor %} -->
                            </tbody>
                        </table>
                        <div class="alert alert-warning" role="alert">
                            <b>To-Do: </b>
                            <ul>
                                <li>Add user activity</li>
                                <li>Add loaned tools</li>
                                <li>Add additional trainings participated in</li>
                            </ul>
                        </div>
                

                    </div>
                </div>
            </div>
        </div>

        



        <div class="jumbotron text-center" style="margin-bottom:0">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Site information</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><a href="https://github.com/heidi-holappa/volunteer-management-application/tree/main/Documentation" target="_blank">Project documentation</a></p>
                        </div>
                        <div class="col">
                            <p><a href="/docs/feedback">Feedback</a></p>
                        </div>
                         <div class="col">
                            <p><a href="/docs/aboutus">About Us</a></p>
                        </div> 
                    </div>
                </div>
                
            </footer>
        </div>
    </body>
</html>


